*{
	padding:0;
	margin:0;
}
html,body,#wrapper{
	height: 100%;
}
body{
	font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.main{
	display: flex;
	height:100%;
}
.main.withMenubar{
	height:calc(100% - 24px);
}

.icon::before{
	content:' ';
	display: inline-block;
	width:16px;
	height:16px;
	vertical-align: sub;
	background-size:16px 16px;
	background-repeat:no-repeat;
}
