.htmlBody{
	/*font-size: 10px;*/
	line-height: 1.8em;
}
.htmlBody h1{
	line-height: 28px;
	text-align:center;
}
.htmlBody ul,
.htmlBody ol{
	margin-left:0;
	/*line-height: 1.5em;*/
}
.htmlBody li{
	line-height: 1.5em;
	/*margin-bottom: 1em;*/
}
.htmlBody p{
	margin-bottom: 1em;
}
.htmlBody pre code{
	padding:15px 10px;
	font-size:12px;
	line-height: 1.2em;
}
