*{
	padding:0;
	margin:0;
}
html,body{
	height: 100%;
}
body{
	display: flex;
}

.icon::before{
	content:' ';
	display: inline-block;
	width:16px;
	height:16px;
	vertical-align: sub;
	background-size:16px 16px;
	background-repeat:no-repeat;
}
