*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: helveticaneue-light, helvetia neue light, helvetia neue, hiragino sans gb, microsoft yahei, sans-serif;
	-webkit-font-smoothing: antialiased;
}

body,html{
	height: 100%;
	width:100%;
	font-size:0;
}
#sidebar.hide,
#editor.hide,
#preview.hide,
#toc.hide{
	display: none;
}
#background{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:100px;
	text-align: center;
	padding-top:100px;
	padding-left:200px;
	color:#ddd;
	background:#f0f0f0;
	z-index: -1;
	overflow: hidden;
}
#sidebar{
	display: inline-block;
	width:200px;
	overflow-x: hidden;
	height:100%;
	background:#333;
	color:#f0f0f0;
}
#sidebar h1{
	font-weight: normal;
	font-size:20px;
	margin:20px 0;
	text-align: center;
}
#sidebar #noteList{
	margin:10px 0;
	font-size:14px;
	line-height: 1.6em;
	list-style-position: inside;
}
#sidebar #noteList li{
	padding:0 10px;
	white-space: nowrap;
	list-style-type: square;
	position: relative;
}
#sidebar #noteList li.level0{
	list-style-type: disc;
}
#sidebar #noteList li.level1{
	list-style-type: circle;
	padding-left: 20px;
}
#sidebar #noteList li.level2{
	list-style-type: square;
	padding-left: 30px;
}
#sidebar #noteList li.active,
#sidebar #noteList li:hover{
	background: #555;
}
#sidebar #noteList li > i{
	color:#ccc;
	display: none;
	cursor: pointer;
	padding:0 5px;
	font-style: normal;
}
#sidebar #noteList li:hover > i{
	display: inline-block;
	position: absolute;
	right:0;
	background: #555;
	width: 16px;
}
#sidebar #noteList li > i.vdisk{
	right:16px;
}
#sidebar #noteList li > i.vdisk.ok{
	color:lime;
}
#sidebar #noteList li:hover a[data-id="0"] ~ i{
	display: none;
}
#sidebar #noteList li a{
	text-decoration: none;
	color:#f0f0f0;
}
#sidebar #noteList li:hover > a{
	color:#ccc;
}
#editor{
	height:100%;
	display: inline-block;
	overflow-x:hidden;
	overflow-y: auto;
	padding:20px;
	background:rgb(250,250,245);
	color:#555;
	/*-webkit-box-flex:1;*/
	width: -webkit-calc(50% - 100px);
	font-size: 14px;
	white-space: pre;
	line-height: 1.8em;
}
#editor.noSidebar{
	width:50%;
}
#editor.alone{
	width:100%;
}
#editor.aloneWithSidebar{
	width:-webkit-calc(100% - 200px);
}
#editor:focus{
	outline: 0 none;
}
#preview{
	/*-webkit-box-flex:1;*/
	display: inline-block;
	width: -webkit-calc(50% - 100px);
	background: rgb(253,253,248);
	/*width: 0;*/
	height:100%;
	overflow-x:hidden;
	overflow-y: auto;
	padding:20px;
	color: #555;
	font-size: 14px;
}
#preview.noSidebar{
	width:50%;
}
#preview.alone{
	width:100%;
}
#preview.aloneWithSidebar{
	width:-webkit-calc(100% - 200px);
}
#preview h1{
	margin-bottom: 10px;
}
#preview h1,#preview h2,#preview h3,
#preview h4,#preview h5,#preview h6{
	margin-top:20px;
	font-weight: normal;
}
#preview h1:first-child{
	margin-top:0;
}
#preview h1 > a,#preview h2 > a,#preview h3 > a,
#preview h4 > a,#preview h5 > a,#preview h6 > a{
	color:#555;
	cursor:normal;
}
#preview h1 > a::before,#preview h2 > a::before,#preview h3 > a::before,
#preview h4 > a::before,#preview h5 > a::before,#preview h6 > a::before{
	content:'';
}
#preview p{
	font-size: 14px;
	margin: 1.8em 0;
	line-height: 1.8em;
}
#preview li p{
	margin: 0;
	margin-left:1em;
}
#preview li p:first-of-type{
	margin-left: 0;
}
#preview blockquote{
	padding:10px;
	margin:10px 0;
	background:rgb(247,247,236);
	border-left:5px solid rgb(230,230,210);
	word-wrap: break-word;
}
#preview blockquote p{
	margin:5px 0;
}
#preview a{
	color:#2A7ABE;
	text-decoration: none;
}
#preview a::before{
	content:'☞';
}
#preview code{
	font-family: consolas;
}
#preview code *{
	font-family: consolas;
}
#preview pre{
	display: block;
	/*background:rgb(247,247,236);*/
	/*border:1px solid rgb(230,230,210);*/
	padding:10px;
	margin:10px 0;
}
#preview p code,
#preview ul code,
#preview ol code{
	background: rgb(247,247,236);
	padding:3px;
	vertical-align: middle;
	border:1px solid rgb(230,230,210);
	border-radius: 3px;
}
#preview pre code{
	line-height: 1.0em;
	font-size:14px;
	word-wrap: break-word;
	border:0 none;
	padding:0;
	background: initial;
	border-radius: initial;
	vertical-align: initial;
}
#preview ul,#preview ol{
	list-style-position: inside;
	font-size: 14px;
	margin-left: 1em;
	margin-top:1.8em;
	line-height: 1.6em;
}
#preview ul ul,#preview ol ol,
#preview ul ol,#preview ol ul{
	margin-top: 0;
}
#preview ul{
	list-style-type: disc;
}
#preview ol{
	list-style-type: decimal;
}
#preview img{
	max-width: 100%;
	border: 1px solid rgb(230,230,210);
	padding: 1px;
}

#search{
	display: none;
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
	background: #333;
	box-shadow: 0 0 5px rgba(128,128,128,.7);
	padding: 5px;
	border-radius: 3px;
	line-height: 24px;
	padding: 8px 10px 5px;
}

#search [class^=controlIcon]{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
#search [class^=controlIcon] input[type=checkbox]{
	/*opacity:.4;*/
	width:20px;
	height:20px;
}
#search [class^=controlIcon] span{
	font-size: 14px;
	color: white;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width:20px;
	text-align: center;
	line-height: 20px;
	border:1px solid #ccc;
	border-radius:2px;
	background:-webkit-linear-gradient(top,#888,#666);
	box-shadow: inset 1px 1px 3px #aaa;
}
#search [class^=controlIcon] input[type=checkbox]:checked + span{
	background:-webkit-linear-gradient(top,#333,#555);
	box-shadow: inset 1px 1px 3px #111;
}
#search .input-wrapper{
	display: inline-block;
	/*margin-left:10px;*/
	line-height: 24px;
	/*vertical-align: middle;*/
}
#search .input-wrapper input{
	height: 22px;
	background: #eee;
	border: 0 none;
	border-radius: 2px;
	padding:0 5px;
}
#search .input-wrapper input:focus{
	outline:0 none;
}
#search .searchBtn{
	display: inline-block;
	margin-left:10px;
	line-height: 24px;
	cursor: pointer;
	/*vertical-align: middle;*/
}
#search .searchBtn button{
	height: 22px;
	padding: 0 5px;
	color: #FFF;
	font-size: 14px;
	border-radius: 2px;
	background: #333;
	border: 1px solid #aaa;
}
#toc{
	width:24px;
	height:30px;
	overflow: hidden;
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: #333;
	border-radius: 15px;
	opacity: 0.2;
	color:#fff;
	padding:10px 30px 10px 0;
	-webkit-transition:all .2s;
	cursor: pointer;
}
#toc:hover{
	width: initial;
	height: initial;
	opacity: 0.8;
	text-indent: initial;
	border-radius: 5px;
}
#toc li{
	padding-left:10px;
	list-style-position: inside;
	white-space: nowrap;
	color:transparent;
}
#toc:hover li{
	color:#fff;
}
#toc a{
	color:transparent;
	text-decoration: none;
}
#toc:hover a{
	color:#fff;
}
#toc:hover a:hover{
	color: #ccc;
}
